    div(class="container bootstrap snippet")
        div(class='row' style="margin-top: 10px")
            div(class="col-sm-12 center")
                h4 Verguitas
        div(class='row')
            div(class='col-sm-3' style="margin-top: 10px")
                div(class="text-center")
                    img(title="blah" src=" https://api.adorable.io/avatars/120/juancaro@papita.org.png" class="avatar img-circle img-thumbnail" alt="avatar")

                div(class="panel panel-default")
                    div(class="panel-heading") Usuario desde: XX
                    div(class="panel-body") 

                ul(class="list-group")
                    li(class="list-group-item text-muted") Activity
                        i(class="fa fa-dashboard fa-1x")
                    li(class="list-group-item text-right")
                        span(class="pull-left")
                            strong Shares  
                        125
                    li(class="list-group-item text-right")
                        span(class="pull-left")
                            strong Likes  
                        125

            div(class="col-sm-9" style="margin-top: 20px")
                ul(class="nav nav-tabs")
                    li(class="active")
                        a(data-toggle="tab" href="#home") Home
                    li()
                        a(data-toggle="tab" href="#messages") Badges 
                    li()
                        a(data-toggle="tab" href="#settings") Peques     

                div(class="tab-content")
                    div(class="tab-pane active" id="home")
                        table(class="table")
                            thead
                                tr
                                    th #
                                    th Name
                                    th Type
                                    th Battery
                            tbody
                                tr
                                    th(scope='row') 1
                                    td BOSS RC-1
                                    td Loop
                                    td Yes
                                tr
                                    th(scope='row') 2
                                    td Line 6 DL4
                                    td Delay
                                    td Yes
                                tr
                                    th(scope='row') 3
                                    td Polara
                                    td Reverb
                                    td Yes

                    div(class="tab-pane" id="messages")
                        p un monton de otros textos aqui

                    div(class="tab-pane" id="settings")
                        p un monton mas por aca
