extends layout

block content
    
    h1 ITA

    div(style="margin-top: 40px")

    div(class="container")
        div(class='row align-items-center justify-content-center')
            div(class="col-md-12")
                p Cuentame un poco mas para comenzar:

    script(src="/js/baseline.js")
    