extends layout

block content
    
    div(style="margin-top: 40px")
    
    div(class="container")
        div(class='row align-items-center justify-content-center')
            div(class="col-md-8" id='baseline-content')
                form(method='POST' action='/register')
                        label(for='email') Correo electronico:
                        input#email.form-control(type='email', placeholder='name@email.com' name='email')
                    div.form-group
                        label(for='favoriteBook') Libro favorito:
                        input#favoriteBook.form-control(type='text', placeholder='title of book' name='favoriteBook')
                    div.form-group
                        label(for='pw') Contraseña:
                        input#pw.form-control(type='password' name='password')
                    div.form-group
                        label(for='pw2') Confirmar contraseña:
                        input#pw2.form-control(type='password' name='confirmPassword')
                    button.btn.btn-primary(type='submit') Enviar
                    div.form-group
                        label(for='pw2') I agree to the terms of use
                        input(id='agreement', type='checkbox')

        div(style="margin-top: 40px")

        div(class='row scrollabetextbox align-items-center justify-content-center' id='terminos')
            div(class="col-md-8 scroll" id='terminos-condiciones')
                p EULA Terminos y condiciones 
                |  Las presentes condiciones generales regulan los términos y condiciones de acceso y uso del sitio www.obsalud.unne.edu.ar, propiedad de UNNE – FACULTAD DE MEDICINA, con domicilio en Moreno 1240, en adelante, «OBSERVATORIO SALUD». El usuario se compromete a leer y aceptar los términos y condiciones de uso para acceder y utilizar todos los servicios e información que se facilitan desde el mismo. Se establece que el mero acceso y/o utilización del portal, sea en todo o en parte de sus contenidos y/o servicios significa la plena aceptación de las presentes condiciones generales de uso por parte del usuario. 
                |  Condiciones de uso
                |  -Las presentes condiciones de uso, regulan el acceso y la utilización del portal “OBSERVATORIO SALUD”, lo que incluye, de modo enunciativo, todos los contenidos y los servicios puestos a disposición de los usuarios en el portal y/o a través del portal, bien por el portal, bien por sus usuarios, bien por terceros. No obstante, el acceso y la utilización de ciertos contenidos y/o servicios pueden encontrarse sometido a determinadas condiciones específicas.
                |  Modificaciones

    script(src="/js/baseline.js")
    