extends layout

block content
    div(class="container" id="start-main-container")
        form(action='endsurvey' method='post')
            each person in survey_people
                p=person

    include partials/bottomNav.pug
    script.
        let userId = !{JSON.stringify(id)}
