extends layout

block content
        
    h1 ITA

    div(class="container")
        div(class='row align-items-center justify-content-center')
            div(class="col-md-12")
                p Hola, soy ITA, tu compania virtual para actividades infantiles.
                p Es tu primera vez?

        div(class='row align-items-center justify-content-left')
            div(class='col-md-4')
                div(class="btn-group" role='group')
                    button(type="button" class="btn btn-success" id='btn-si') Si
                    button(type="button" class="btn btn-danger" id='btn-no') No
            
        div(class='row align-items-center justify-content-center')
            div(class="col-md-12")
                iframe(width="560" height="315" src="https://www.youtube.com/embed/dQw4w9WgXcQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)

    script(src="/js/index.js")
    