extends layout

block content

    div.mt-5(class="container")
        div(class='row align-items-center center' id='index-container')
          
          div(class="col-sm-12 center" style="margin-top: 20px")
            img(src="/images/ita3d_1.png" width="150px" height="180px")
            
            p.thin 
              | Hola! soy 
              strong ITA
              |, tu compania virtual 
              | para actividades infantiles saludables.
                    
            form(action="/api/usuarios/login", method='post')
              
              if success_msg!= ''
                div.alert.alert-success.alert-dismissible.fade.show(role="alert")=success_msg
                  button.close(type="button" data-dismiss='alert' aria-label='Close')
                    span(aria-hidden='true') &times;
              if error_msg!= ''
                div.alert.alert-warning.alert-dismissible.fade.show(role="alert")=error_msg
                  button.close(type="button" data-dismiss='alert' aria-label='Close')
                    span(aria-hidden='true') &times;
              div.label Ingresa a tu cuenta
              div.username
                input(type="text" placeholder="correo electronico" name='correo')
              div.password
                input(type="password" placeholder="contraseña" name='password')
              div.checkbox
                input(type='checkbox' name='agreement' checked)
                |  Recuerdame
              button(type='submit' class='btn btn-success' id='btn-login') Siguiente
              div.social(style="margin-top: 10px")
                button(type="button" class="btn-floating btn-lg btn-fb") <i class="fa fa-facebook"></i>
                button(type="button" class="btn-floating btn-lg btn-gplus") <i class="fa fa-google-plus"></i>
    
          //- div(class="col-sm-12" style="margin-top: 20px")
          //-   p
          //-     | Aun no has usado
          //-     strong  ITA    
          //-     | ?    
          //-     button(type='button' class='btn btn-success' id='indexSiBtn') Pruebame ahora
            
          //- div(class="col-sm-12")
          //-   p
          //-     | Olvidaste tu contraseña?     
          //-     button(type='button' class='btn btn-success' id='indexPasswordBtn') Obten una nueva
            
          //- div(class="col-sm-12")               
          //-   p
          //-     | Quieres saber mas?    
          //-     button(type='button' class='btn btn-success' id='indexTeamBtn') Papita CORP  

        script(src="/js/index.js")
