extends layout

block content

    div.container-index(class="container")
        div(class='row align-items-center center' id='index-container')
          
          div(class="col-sm-12 center" style="margin-top: 20px")
            img(src="/images/ita3d_1.png" width="150px" height="180px")
            
            p.thin 
              | Hola! soy 
              strong ITA
              |, tu compania virtual 
              | para actividades infantiles saludables.
                    
            form#login-form(action="/api/usuarios/login", method='post')
              
              if registro_msg
                div.alert.alert-success.alert-dismissible.fade.show(role="alert")=registro_msg
                  button.close(type="button" data-dismiss='alert' aria-label='Close')
                    span(aria-hidden='true') &times;
              if success_msg!= ''
                div.alert.alert-success.alert-dismissible.fade.show(role="alert")=success_msg
                  button.close(type="button" data-dismiss='alert' aria-label='Close')
                    span(aria-hidden='true') &times;
              if error_msg!= ''
                div.alert.alert-warning.alert-dismissible.fade.show(role="alert")=error_msg
                  button.close(type="button" data-dismiss='alert' aria-label='Close')
                    span(aria-hidden='true') &times;
              div.label
                h4 Ingresa a tu cuenta
              div.username
                input(type="text" placeholder="correo electronico" name='correo')
              div.password
                input(type="password" placeholder="contraseña" name='password')
              button(type='submit' class='btn btn-success' id='btn-login') Siguiente
              div.mt-2.mb-2.col-sm-12
                a.btn.btn-info#forgot-password(href='/registro') Olvidaste tu contraseña?   
              div.mt-4.col-sm-12
                h1 Aun no tienes una cuenta?
              div.mt-4.col-sm-12
                a.btn.btn-warning.btn-lg.btn-block#btn-sobre(href='/sobre') Registrate ya!

                

        script(src="/js/index.js")
