extends layout

block content

    div(class="container")
        div(class='row align-items-center justify-content-center')
            div(class="col-md-12")
            img(src="/images/personaje-01.svg")
            div(style="margin-top: 20px") 

                p Hola, soy 
                 strong ITA
                 |, tu compania virtual para actividades infantiles.
 
            form(action="#")
              div.label Ingresa
              div.username
                input(type="text" placeholder="correo electronico")
              div.password
                input(type="password" placeholder="contraseña")
              div.checkbox
                input(type='checkbox' name='agreement' checked)
                |  Recuerdame
              button(type='button' class='btn btn-success' id='btn-no') Siguiente
              div(style="margin-top: 20px")  
              p
                | o ingresa con
              div.social
                button(type="button" class="btn-floating btn-lg btn-fb") <i class="fa fa-facebook"></i>
                button(type="button" class="btn-floating btn-lg btn-gplus") <i class="fa fa-google-plus"></i>
    
            div(style="margin-top: 20px")    
            
              p
                | aun no has usado
                strong  ITA 
                | ? 
                button(type='button' class='btn btn-success' id='btn-si') Pruebame ahora
                            
              p
                | Quieres saber mas?
                button(type='button' class='btn btn-success' id='btn-team') Equipo ITA

    script(src="/js/index.js")
    