extends layout

block content

    div(class="container")

        div(class='row align-items-center center')
            div(class="col-sm-12 center" style="margin-top: 20px")
                form(action='/api/usuarios/changePassword', method='POST')
                    if correo_err
                        div.alert.alert-warning.alert-dismissible.col-sm-12(fade show role='alert')
                            strong= correo_err
                            button(type='button' class='close' data-dismiss='alert' aria-label="Close")
                                span(aria-hidden='true') &times;
                    img(src="/images/ita3d_1.png" width="150px" height="180px")

                    if correo_success
                        div.alert.alert-info
                            strong= correo_success
                            div.d-flex.justify-content-center
                                a.btn.btn-success.mt-4(href='/') Volver
                    else
                        div.label Cambia tu contrase単a
                        div.form-group
                            label(for='email') Correo electronico
                            input#email.form-control(type='input' name='correo')                 
                        div.form-group
                            label(for='pw') Nueva contrase単a:
                            input#pw.form-control(type='password' name='password')
                        div.form-group
                            label(for='pw2') Confirmar contrase単a:
                            input#pw2.form-control(type='password' name='confirmPassword')
                        div.form-group
                        button(type='submit' class='btn btn-success' data-toggle="tooltip" data-placement='bottom' title='Asegure que ambas contrase単as sean iguales' id='btn-registro-enviar' disabled) Enviar
        script(src="/js/registro.js")
    