extends layout

block content
    
    h1 ITA

    div(style="margin-top: 40px")

    div(class="container")
        div(class='row align-items-center justify-content-center')
            div(class="col-md-12")
                p ¿Qué tipo actividad quieres realizar con tu niña o niño? Piensa en los hábitos que te gustaría fortalecer en él o ella.

                P Te sugiero la siguiente actividad ¿Qué te parece?

                p ¿Prefieres que te sugiera otra?

    script(src="/js/selector.js")
    
    