extends layout

block content

    div(class="container")
        div(class='d-flex flex-column justify-content-center' style="margin-top: 20px")
            div(class="col-sm-12 justify-content-center center" id='sobre-main-container')
              div(id="smallVideo")
                
              div(id="bigVideo")  
              
            div(class="col-sm-12 justify-content-center center")
              button(type='button' class='btn btn-primary' id='btn-sig' style= "margin-bottom:60px;" disabled) Siguiente
        
            
            script(src="/js/sobre.js")
