extends layout

block content

    div(style="margin-top: 20px")

    div(class="container")
        div(class='row align-items-center')
            div(class="col-md-12 justify-content-center center")
              img(src="/images/personaje-02.svg" width="200px" height="200px")
              br 
              p ¿Qué es 
                strong ITA
                | ?
              
              p  
                strong ITA
                |  es una compañia virtual que acompaña a madres, padres y otras personas que cuiden niños y 
                |  niñas.
                strong  ITA 
                |  entrega actividades para realizar en conjunto, con el fin de facilitar hábitos saludables. 
              
              p 
                strong ¿Como funciona?
              
              p  
                strong ITA
                |  se basa en ciencia, y sugiere actividades que pueden ser realizadas con niños y niñas. 
                |  Las elige considerando las características de los niños y niñas, 
                |  y también las características de las madres, padres o personas que cuidan.
              
              p 
                strong ¿Qué debo hacer yo?

              p Debe hacer tres cosas principales: entregarle algunos datos para que conozca un poco más, 
                |  realizar las actividades sugeridas y contarle cómo les fue después de realizar cada actividad. 
      
              p Deja que 
                strong  ITA 
                |  te ayude, especialmente 
                strong en estos dias
                |  en que las cosas están siendo un poco más complejas. 

        button(type='button' class='btn btn-success' id='btn-sig') Siguiente

    
    script(src="/js/sobre.js")