extends layout

block content
    
    div(class="container" id="start-main-container")

        div(class='row align-items-center justify-content-center' id="start-top-container" style="margin-top: 20px") 
            div(id="fuel-row" class="row col-md-12 align-items-center justify-content-center")            
                div(id="fuel-gauge")
                    div(id="fuel-gauge-control")

        div(class="container col-md-12 center" style="margin-top: 20px" id="start-bottom-container")
      
      
    include partials/bottomNav.pug
        script.
            let userId = !{JSON.stringify(id)}

        script(src="/js/start.js")
