extends layout

block content
    
    div(class="container" id="start-main-container")

        div(class='container row align-items-center justify-content-center' id="start-top-container" style="margin-top: 20px")
            div(id="knob")
                
        div(class="container col-md-12 center" style="margin-top: 20px" id="start-bottom-container")
            h5  Que quieres hacer hoy?   
            p      
                a(href="/" id="btn-mind") 
                    img(src="/images/personaje-08.svg" width="200" height="200")
                a(href="/" id="btn-diet") 
                    img(src="/images/personaje-07.svg" width="160" height="160")
                a(href="/" id="btn-body") 
                    img(src="/images/personaje-06.svg" width="150" height="150")
                a(href="/" id="btn-stats") 
                    img(src="/images/stats.png" width="140" height="140")

        script(src="/js/start.js")
        
    