extends layout

block content
    
    div(class="container" id="start-main-container")

        div(class='container row align-items-center justify-content-center' id="start-top-container" style="margin-top: 20px")



        div(class="container col-md-12 center" style="margin-top: 20px" id="start-bottom-container")

        script(src="/js/start.js")
        link(rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css")
        script(src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js")
        link(rel="stylesheet" href="/css/jquery.dynameter.css")
        script(src="/js/jquery.dynameter.js")