extends layout

block content

    div(style="margin-top: 20px")

    div(class="container")
        div(class='row align-items-center')
            div(class="col-md-12 justify-content-center center" style="margin-top: 20px")
                img(src="/images/personaje-02.svg" align="center" width="200px" height="200px")
                br
                p(align="left") 
                  strong Directorio
                
                p  
                | TBA
            
            div(class="col-md-12 justify-content-center center" style="margin-top: 20px")
                p 
                strong Equipo
                
                p  
                |  Concepto: Juan Carlos Caro y Felipe Peña
                
                p  
                |  Desarrollo: Alberto Vargas
                
                p  
                |  Diseño: Viviana Valdivia y 
                a(href='www.nuevapublicidad.cl')  Nueva Publicidad Chile

            div(class="col-md-12 justify-content-center center" style="margin-top: 20px")    
                p 
                strong Colaboradores

                p  
                |  TBA
        
            div(class="col-md-12 justify-content-center center" style="margin-top: 20px")    
                p 
                |  Quieres aprender mas sobre  
                strong  ITA 
                |  o unirte al equipo?  
                a(href='mailto:juancaro@ad.unc.edu')  Escribenos


        button(type="button" class="btn btn-success" id='btn-volver') Volver

    script(src="/js/team.js")