extends layout

block content
    link(href="/css/tutorial.css" rel="stylesheet" type="text/css")
    div(class="container")
        div.form-alert.mt-4
        div(class='row align-items-center' style="margin-top: 0px")
            div(class="col-sm-12 justify-content-center center" id="tutorial-main-container" style="margin-top: 10px")

    script.
        let userId = !{JSON.stringify(id)}                

    script(src="/js/tutorial.js")
           

