extends layout

block content


    div(class="swiper-container")
        div(class="swiper-wrapper")
            div(class="swiper-slide")
                img(src ="/images/papitacorp.jpg" alt="")
            div(class="swiper-slide")
                img(src ="/images/papitacorp.jpg" alt="")
            div(class="swiper-slide")
                img(src ="/images/papitacorp.jpg" alt="")
    script(src="https://unpkg.com/swiper/js/swiper.min.js")
    script(src="swipe.js")
            

