extends layout

block content

    div(class="swiper-container" style="margin-top: 10px")
        div(class="swiper-wrapper")
            div(class="swiper-slide center vertical-center")
                p Este es un menu principal, puedes ver la energia de tu actividad anterior, asi como cambiarla previo a tu nueva actividad  
            
                img(src ="/images/tutorial/t1.png" width="250" alt="" style="margin-bottom: 10px")
                
            div(class="swiper-slide center vertical-center")
                p Luego puedes elegir una de tres activiades (ejercicio, alimentación o salud mental), o puedes ver tus estadísticas.
                             
                img(src ="/images/tutorial/t1.png" width="250" alt="" style="margin-bottom: 10px")
                
            div(class="swiper-slide center vertical-center")
                p Siempre te daremos dos alternativas de actividad, asi como la opcion de elegir nuevas actvidades.    
            
                img(src ="/images/tutorial/t2.png" width="250" alt="" style="margin-bottom: 10px")
                
            div(class="swiper-slide center vertical-center")
                p Al final de la actividad, te pediremos solo tres preguntas, para poder mejorar la experiencia de tu proxima actividad.
                            
                img(src ="/images/tutorial/t3.png" width="250" alt="" style="margin-bottom: 10px")
                
            div(class="swiper-slide center vertical-center")
                p Ahora disfruta, y deja que  
                strong ITA  
                | ayude con los hábitos saludables!
   
            img(src ="/images/logo_papita-01.png" width="250" alt="" style="margin-bottom: 10px")
                
        div(class="swiper-pagination")

        div(class="swiper-button-prev")
        div(class="swiper-button-next")

        div(class="swiper-scrollbar")
    
    div(class="center")
        button(type='button' class='btn btn-success' id='btn-finish') llevame al Dashboard!
        
    script(src="/js/tutorial.js")
           

