extends layout

block content

    div(class="swiper-container")
        div(class="swiper-wrapper")
            div(class="swiper-slide center")
                img(src ="/images/papitacorp.jpg" width="300" alt="")
            div(class="swiper-slide center")
                img(src ="/images/papitacorp.jpg" width="300" alt="")
            div(class="swiper-slide center")
                img(src ="/images/papitacorp.jpg" width="300" alt="")
            div(class="swiper-slide center")
                img(src ="/images/papitacorp.jpg" width="300" alt="")
            div(class="swiper-slide center")
                img(src ="/images/papitacorp.jpg" width="300" alt="")
            div(class="swiper-slide center")
                img(src ="/images/papitacorp.jpg" width="300" alt="")
            div(class="swiper-slide center")
                img(src ="/images/papitacorp.jpg" width="300" alt="")
            div(class="swiper-slide center")
                img(src ="/images/papitacorp.jpg" width="300" alt="")    
            div(class="swiper-slide center")
                img(src ="/images/papitacorp.jpg" width="300" alt="")
   
        div(class="swiper-pagination")

        div(class="swiper-button-prev")
        div(class="swiper-button-next")

        div(class="swiper-scrollbar")
    
    div(class="center")
        button(type='button' class='btn btn-success' id='btn-finish') llevame al Dashboard!
        
    script(src="/js/tutorial.js")
           

