.axis line {
   fill: none;
   stroke: #000;
   shape-rendering: crispEdges;
}

.x.axis path {
   display: none;
}

.y.axis path {
   display: none;
}

.line {
   fill: none;
   stroke: steelblue;
   stroke-width: 4px;
}

line.gridline.horizontal {
   fill: none;
   stroke: rgba(120, 135, 148, 0.5);
   stroke-width: 2px;
}

g.tick text {
   fill: rgba(120, 135, 148, 0.5);
   font-size: 14px;
}

g.y.axis g.tick text {
   margin-right: 10px;
}