@font-face {
  font-family: Gabriola;
  src: url(../css/GABRIOLA.woff);
}

@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

/* -------------------------------- 
Globals
---------------------------------*/

.display-none {
  display: none;
}
@media (max-width: 992px) {
  .mobile-display-none {
    display: none;
  }
}

body {
  padding: 0 0 70 0;
  margin: 0px;
  font-family: "Gabriola", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 15px;
}

#main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.starrating > input {
  display: none;
} /* Remove radio buttons */

.starrating > label:before {
  content: "\f004"; /* Star */
  margin: 2px;
  font-size: 2em;
  font-family: FontAwesome;
  display: inline-block;
}

.starrating > label {
  color: #409b03; /* Start color when not clicked */
}

.starrating > input:checked ~ label {
  color: #b10c1a;
} /* Set yellow color when star checked */

.starrating > input:hover ~ label {
  color: #ffca08;
} /* Set yellow color when star hover */

.center {
  text-align: center;
}

.header {
  padding: 20px;
  text-align: center;
  background: url("../images/texturas-02.svg");
  background-repeat: repeat;
  color: black;
  font-size: 16px;
}

footer {
  margin-top: 150px;
}

.username input,
.password input {
  width: 100%;
  height: 40px;
  border: 0px;
  margin: 5px 5px 15px;
  box-sizing: border-box;
  padding: 15px 15px;
}

input:focus,
button:focus {
  outline: none;
}

form {
  background-color: #87db1859;
  padding: 30px;
  text-align: center;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid #ccc;
  border-radius: 4px;
}

.checkbox {
  color: black;
  padding-right: 10px;
}

h3 {
  font-size: 16px;
  text-align: center;
  color: #fff;
  text-transform: capitalize;
  margin-bottom: 10px;
}

.social {
  display: flex;
  justify-content: center;
}

.social button {
  display: flex;
  width: 30px;
  padding: 5px;
  background-color: transparent;
  justify-content: center;
  text-transform: capitalize;
}

.social button:nth-child(1) {
  background-color: #3498db;
}

.social button:nth-child(2) {
  background-color: #e74c3c;
}

.fa {
  float: left;
  font-size: 16px;
}

a {
  padding-left: 5px;
  text-decoration: none;
  color: #2214e0;
  text-transform: capitalize;
}

a:hover {
  text-decoration: underline;
}

.label {
  font-size: 16px;
  text-align: center;
  color: black;
  padding-bottom: 15px;
}

label {
  font-size: 16px;
  text-align: center;
}

@media (max-width: 610px) {
  form {
    width: 100%;
  }

  button {
    padding: 5px;
  }
}

@media (max-width: 420px) {
  form {
    width: 100%;
  }

  h3 {
    margin: 10px;
  }
}

strong {
  font-weight: bold;
  color: rgb(10, 7, 167);
}

#myProgress {
  width: 100%;
  background-color: grey;
  border: 2px solid #ccc;
  border-radius: 4px;
}

#myBar {
  width: 1%;
  height: 30px;
  background-color: green;
  text-align: center; /* To center it horizontally (if you want) */
  line-height: 30px; /* To center it vertically */
  color: white;
  border: 2px solid #ccc;
  border-radius: 4px;
}

/* Popup box BEGIN */
.hover_bkgr_fricc {
  background: rgba(0, 0, 0, 0.4);
  cursor: pointer;
  display: none;
  height: 100%;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 10000;
}
.hover_bkgr_fricc .helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.hover_bkgr_fricc > div {
  background-color: #fff;
  box-shadow: 10px 10px 60px #555;
  display: inline-block;
  height: auto;
  max-width: 551px;
  min-height: 100px;
  vertical-align: middle;
  width: 60%;
  position: relative;
  border-radius: 8px;
  padding: 15px 5%;
}
.popupCloseButton {
  background-color: #fff;
  border: 3px solid #999;
  border-radius: 50px;
  cursor: pointer;
  display: inline-block;
  font-family: arial;
  font-weight: bold;
  position: absolute;
  top: -20px;
  right: -20px;
  font-size: 25px;
  line-height: 30px;
  width: 30px;
  height: 30px;
  text-align: center;
}
.popupCloseButton:hover {
  background-color: #ccc;
}
.trigger_popup_fricc {
  cursor: pointer;
  /*font-size: 20px;
  margin: 20px;
  font-weight: bold;*/
  display: inline-block;
}
/* Popup box END */

.swiper-container {
  width: 375px;
  height: 450px;
  padding: 5px;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

#start-top-container {
  padding: 0 20px;
}

/* Efficacies Sliders */

.efficacies-range {
  -webkit-appearance: none;
  margin-left: 20px;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.efficacies-range:hover {
  opacity: 1;
}

.efficacies-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #087e8b;
  cursor: pointer;
}

.efficacies-range::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #087e8b;
  cursor: pointer;
}

/* Index View */
/* #forgot-password {
} */
